html {
    font-size: 62.5%;
}

body,
input[type="text"] {
    font-size: 1.6rem;
    font-family: "Yu Gothic Medium", "Hiragino Kaku Gothic Pro", sans-serif;
}

body,
button,
input,
optgroup,
select,
textarea {
    line-height: 1.5;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

html,
body,
#app {
    display: flex;
    flex-flow: column nowrap;
}

body,
#app {
    flex: 1;
}

#app {
    /* ページの中央に表示する。 */
    align-self: center;
    width: 320px;

    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
}

@media (min-width: 480px) {
    #app {
        width: 480px;
    }
}

footer {
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
}

/*
    ページ全体の色
*/

body {
    background-color: #eee;
    color: #212121;
}

#app {
    background-color: white;
    border: 1px solid #ccc;
}

/*
    リストのスタイル
*/

ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/*
    ツール類のスタイル
*/

button {
    min-width: 32px;
}

input[type="text"],
button {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
button:focus {
    border: 1px solid #8cc;
    padding: 1px 3px;
    border-width: 2px;
}

.danger-button,
.danger-button:hover {
    color: #f44;
}

/*
    チェックリスト
*/

.checklist {
    display: flex;
    flex-flow: column nowrap;
}

.checklist .entry {
    margin: 8px 0;
    padding: 4px 8px;

    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;

    display: flex;
}

.checklist .entry[data-checked="true"] {
    background: #efe;
    border-color: #8c8;
}

/*
    チェックマーク
*/

.checklist .entry-checkmark {
    /* 左右のマージンのバランスをとる */
    margin-left: 5px;

    font-weight: 700;
    color: #ccc;
}

.checklist .entry[data-checked="true"] .entry-checkmark {
    color: green;
}

/*
    テキスト
*/

.checklist .entry-text {
    /* input と同じだけのパディングを持たせる */
    padding: 3px 5px;
}

.checklist .entry-text,
.checklist .entry-text-input {
    margin-left: 8px;
}

.checklist .entry-text,
.checklist[data-editing="false"] .entry-text-label,
.checklist[data-editing="true"] .entry-text-input {
    flex: 1;
}

.checklist .entry-text-label {
    display: flex;
    align-items: center;
}

.checklist .entry-text-input {
    font-size: 1.6rem;
}

/*
    操作ボタン
*/

.checklist .down-button {
    margin-left: 4px;
}

.checklist .up-button,
.checklist .remove-button {
    margin-left: 16px;
}

.edit-button {
    align-self: flex-end;

    margin-top: 8px;
    width: 80px;
}
